@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100,@200,@300,@400,@500,@600,@700,@800,@900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font-family: "Outfit", sans-serif;
}

body {
  background-color: black;
}

/* 
h1,h4,h2,p,a{
  color: rgb(240, 239, 239);
}  */